{% extends "main.html" %}

{% block content %}

<br><br><br><br>
<div class="container">
<h1 class="text-capitalize text-center mx-10 bg-dark text-white"> Register a new customer </h1>
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="form-group col-md-6" >
            <label for="name" style="margin-top:10px;margin-bottom:10px;"> Name </label>
            <input name="name" required type="text" class="form-control" id="name"
                placeholder="customer first and last name">
        </div>

        <div class="form-group col-md-4">
            <label for="email" style="margin-top:10px;margin-bottom:10px;"> Email </label>
            <input name="email" required type="email" class="form-control" id="email" placeholder="customer email">
        </div>

        <div class="form-group col-md-2">
            <label for="phone" style="margin-top:10px;margin-bottom:10px;"> Phone </label>
            <input name="phone" required type="text" class="form-control" id="phone"
                placeholder="customer phone number">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label for="sex" style="margin-top:10px;margin-bottom:10px;">Sex</label>
            <select name="sex" class="form-control" required id="sex">
                <option value="Homme">Homme</option>
                <option value="Femme">Femme</option>
            </select>
        </div>

        <div class="form-group col-md-6">
            <label for="age" style="margin-top:10px;margin-bottom:10px;"> Age </label>
            <input name="age" required type="number" class="form-control" id="age" placeholder="customer age">
        </div>

    </div>

    <div class="row">
        <div class="form-group col-md-12">
            <label for="address" style="margin-top:10px;margin-bottom:10px;"> Address </label>
            <input name="address" type="text" required type="text" class="form-control" id="address"
                placeholder="Customer address">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label for="city" style="margin-top:10px;margin-bottom:10px;"> City </label>
            <input name="city" type="text" class="form-control" id="city" placeholder="customer city">
        </div>

        <div class="form-group col-md-6">
            <label for="zip" style="margin-top:10px;margin-bottom:10px;"> Zip code </label>
            <input name="zip" required type="text" class="form-control" id="zip"
                placeholder="customer zip code required">
        </div>
    </div>

    <button style="width:30%;margin-top:10px" type="submit" class="btn btn-primary"> Save</button>

</form>
</div>
<br><br><br>



{% endblock content %}